{% extends "layout.html" %}
{% block page_title %}Financial Market Benchmarks{% endblock %}
{% block head %}
    {{ super() }}
    <title>Finance Map</title>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block body %}
    {{ super() }}


    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="height:10px;">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="status">{{status}}</div>
            </div>
        </div>
        <div class="row">
            <div id="loclist" class="col-lg-8 col-md-6 col-sm-12 col-xs-12" style="height:50px;"></div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="height:50px;"></div>
        </div>
    </div>
    <div id="plots"></div>
    <script type="text/javascript">
        // Array is valid if it has some non-null entries
        const isValid = (x) => x != null;
        const graphs = {{graphJSON | safe}};
        const root = document.getElementById('plots');

        for (const i in graphs) {
            var header = document.createElement('h3');
            header.innerHTML = graphs[i].name;
            root.appendChild(header);
            var div = document.createElement('div');
            const divid = 'container'+i.toString();
            div.id = divid;
            var traces = [];
            if (graphs[i].y.some(isValid))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].y,
                    hoverinfo:'skip',
                    mode: 'markers',
                    name: graphs[i].name,
                    marker: {
                        color:'#777777',
                        size:2,
                        symbol:'x'
                    }
                });
            if ((graphs[i].smoothed) && (graphs[i].smoothed.some(isValid)))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].smoothed,
                    hoverinfo:'skip',
                    mode: 'lines',
                    name: 'Avg',
                    line: {
                        color: '#aaaaaa'
                    }
                });
            if (graphs[i].support.some(isValid))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].support,
                    hoverinfo:'skip',
                    mode: 'markers',
                    name: 'Sell',
                    marker: {
                        color: 'mediumgreen',
                        size:11,
                        symbol:'star-triangle-down',
                        line: {width:3}
                    }
                });
            if (graphs[i].resistance.some(isValid))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].resistance,
                    hoverinfo:'skip',
                    mode: 'markers',
                    name: 'Buy',
                    marker: {
                        color: 'mediumgreen',
                        size:11,
                        symbol:'star-triangle-up',
                        line: {width:3}
                    }
                });
            if (graphs[i].avg50 && (graphs[i].avg50.some(isValid)))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].avg50,
                    hoverinfo:'skip',
                    mode: 'lines',
                    name: '50 day',
                    line: {
                        color: 'MediumBlue',
                        dash: 'dash'
                    }
                });
            if (graphs[i].avg200 && (graphs[i].avg200.some(isValid)))
            traces.push( {
                x: graphs[i].x,
                y: graphs[i].avg200,
                hoverinfo:'skip',
                mode: 'lines',
                name: '200 day',
                line: {
                    color: 'Blue'
                }
            });
            if (graphs[i].bull.some(isValid))
            traces.push({
                x: graphs[i].x,
                y: graphs[i].bull,
                hoverinfo:'skip',
                mode: 'markers',
                name: 'Bull',
                marker: {
                    color:'darkgreen',
                    size:12,
                    symbol:'triangle-up-open',
                    line: {width:3}
                }
            });
            if (graphs[i].bear.some(isValid))
            traces.push( {
                x: graphs[i].x,
                y: graphs[i].bear,
                hoverinfo:'skip',
                mode: 'markers',
                name: 'Bear',
                marker: {
                    color: 'darkred',
                    size:11,
                    symbol:'triangle-down-open',
                    line: {width:3}
                }
            });
            if (graphs[i].buy && (graphs[i].buy.some(isValid)))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].buy,
                    hoverinfo:'skip',
                    mode: 'markers',
                    name: 'Buy',
                    marker: {
                        color: 'mediumgreen',
                        size:11,
                        symbol:'star-triangle-up',
                        line: {width:3}
                    }
                });
            if (graphs[i].sell && (graphs[i].sell.some(isValid)))
                traces.push( {
                    x: graphs[i].x,
                    y: graphs[i].sell,
                    hoverinfo:'skip',
                    mode: 'markers',
                    name: 'Sell',
                    marker: {
                        color: 'mediumgreen',
                        size:11,
                        symbol:'star-triangle-down',
                        line: {width:3}
                    }
                });

            root.appendChild(div);
            Plotly.newPlot(divid, traces, {});
        }
    </script>
    <script src="{{url_for('static', filename='js/finance.js')}}"></script>
{% endblock %}