{% extends "layout.html" %}
{% block page_title %}EBird Recent Sightings{% endblock %}
{% block head %}
    {{ super() }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
{% endblock %}
{% block body %}
    {{ super() }}
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="height:50px;">
            </div>
        </div>
        <!--form action = "/load/" method = "POST" onsubmit="onSubmit()"
              class="form-horizontal" enctype = "multipart/form-data" target="_blank">
        <div class="row slidecontainer">
            <div class="col-9">
                <label for="sDays" class="control-label">Search back this number of days:</label>
                <input type="range" min="1" max="30" value="7" class="slider" id="sDays">
            </div>
            <div class="col-3">
                <button id="bSubmit" class="btn btn-primary col-offset-2">Redraw</button>
            </div>
        </div>
        </form-->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="status">{{status}}</div>
            </div>
        </div>
        <div class="row">
            <div id="mapid" class="col-lg-8 col-md-6 col-sm-12 col-xs-12"></div>
            <div id="obstable" class="col-lg-4 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
        <div class="row">
            <div id="loclist" class="col-lg-8 col-md-6 col-sm-12 col-xs-12" style="height:50px;"></div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="height:50px;"></div>
        </div>
    </div>
    <script>
        var observations = [];
        {% if obs is defined %}
            {% for locId,locData in obs.items() %}
                var x = [];
                x['name'] = '{{locData['name']}}';
                x['coords']= {{ [locData['coords'][0], locData['coords'][1]] }};
                x['private'] = '{{locData['locationPrivate']}}';
                x['obs'] = [];
                {% for dt,dtinfo in locData['obs'].items() %}
                    x['obs']['{{dt}}'] = [];
                    {% for sp,spData in dtinfo.items() %}
                        x['obs']['{{dt}}']['{{sp}}'] = [];
                        {% for key,val in spData.items() %}
                            x['obs']['{{dt}}']['{{sp}}']['{{key}}'] = '{{val}}';
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                observations['{{locId}}'] = x;
            {% endfor %}
        {% endif %}
    </script>
    <script src="{{url_for('static', filename='js/mapentry.js')}}"></script>
{% endblock %}